<div class="details-content">

  <div class="content-text">

    <div class="header">
      <h1>informations de livraison</h1>
      <h5><%= @order.product_name %></p>
    </div> <!-- end of header -->

    <div class="content-details">
      <%= simple_form_for @order do |f| %>
        <%= f.input :first_name, placeholder: 'prénom', label: false %>
        <%= f.input :last_name, placeholder: 'nom de famille', label: false %>
        <%= f.input :address, placeholder: 'addresse', label: false %>
        <%= f.input :zipcode, placeholder: 'code postal', label: false %>
        <%= f.input :city, class: 'small-input', placeholder: 'ville', label: false %>
        <%= f.collection_radio_buttons :shipping, Shipping.all, :name, :description %>
        <button class="button">pré commander</button>

        <%#= f.button :submit, class: 'button', value: 'confirmer la commande' %>
      <% end %>

    </div> <!-- end of content details -->

  </div> <!-- end of content-text -->

  <div class="content-image">
    <%= image_tag 'deuxmilledixneuf-portrait-1.jpg' %>
  </div> <!-- end of content-image -->

</div> <!-- end of details-content -->

