<div id="thanks-content">

  <div id="thanks-header">
    <h1>merci pour votre commande !</h1>
    <h5>les calendriers seront expédiés à partir du 27 décembre.</h5>
  </div>

  <div id="thanks-text">
    <p>bien sûr, puisque nous sommes au 21ème siècle, un courriel vous sera envoyé à ce moment là. d'ici là - toujours puisque nous sommes au 21ème, voici toute une multitude de trucs que vous pouvez faire en attendant.</p>
    <ul>
      <li><%= link_to 'télécharger la version mini à imprimer', ENV['LINK_TO_CALENDAR'], class: "big" %></li>
      <li><%= link_to "offrir un calendrier à un ami", root_path %></li>
      <li><a data-sharer="twitter"
             data-title="maxi calendrier deux mille dix neuf"
             data-url="<%= root_url %>"
             data-module-net="hashtag">partager sur twitter</a></li>
      <li><a data-sharer="facebook"
             data-module-net="hashtag"
             data-url="<%= root_url %>">partager sur facebook</a></li>

    </ul>

  </div>

  <div id="thanks-footer">
    <%= link_to root_path do %>
      <h2 class="button-inverted">deux mille dix neuf</h2>
    <% end %>
  </div> <!-- #thanks-footer -->

</div>

