<div id="home-wrapper">

  <div id="product-images">
    <%= image_tag 'deuxmilledixneuf-cover_1.jpg', id: 'main-image' %>
    <%= image_tag 'deuxmilledixneuf-portrait-1.jpg', id: 'portrait-image' %>
  </div>

  <div id="product-details">

    <div id="content-details">
      <h1>deux mille dix neuf</h1>
      <h3>par cdlt, bisou.</h3>
      <h4>maxi calendrier</h4>

      <div class="product-description">
        <p>calendrier géant 2019<br>
          janvier à décembre, avec un petit coin pour glisser toutes les notes du mois + un aperçu du mois suivant.
        </p>
        <p>
          24’ x 32’ (environ 60 x 80 cm) <br>
          imprimé sur un papier blanc lisse <br>
          douze feuilles brochées, le tout perforé pour pouvoir être accroché au mur.
        </p>

        <p class="price">52.00 $</p>
      </div>

      <%= form_tag orders_path do %>
        <%= hidden_field_tag 'calendar_id', @calendar.id %>
        <%= text_field_tag :user_email, nil, placeholder: "adresse email" %>
        <button class="button">commander</button>
      <% end %>

      <div id="date-limite">
        <p>livraison dans le monde entier, yay. <br>
          option de livraison à choisir à l'étape suivante.
         </p>
      </div>

    </div> <!-- end of #content-details -->

  </div> <!-- end of #product-details -->

</div> <!-- end of #home-wrapper -->




